<% provide(:title, "Help") %>
<h1>Help</h1>


<p>
いろいろ中身とかが散らかっているページです。<br>
見ないで
</p>


<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="https://railstutorial.jp/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>







<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>


<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<br>

  <% index4()[0..1].each do |novel| %>
    <%= novel %>
    <%= get_novel_data(novel["ncode"]) %>

    <br>
    <br>


    
  <% end %>
<%= get_novel_data("n2273dh-n4679do-n7047do") %>

<br>
<br>

<%= day_rank_nyago(5)[..19] %>


<br>
<br>

<%= make_ncode_sequense(day_rank_nyago(5)[..19]) %>



<br>
<br>


<%= get_novel_data2(make_ncode_sequense(day_rank_nyago(5)[..19])) %>



<%
=begin %>

<%
=end %>


<%= old_ranking = day_rank_nyago(5) %>
  <%#= 20こしか一度に取ってこれない %>
<%= novel20 = get_novel_data2(make_ncode_sequense(old_ranking[..19]))[1..] %>

<% data = Ranking.new(date: Time.now.prev_year(5).strftime(format= '%Y%m%d').to_s, oldranking: old_ranking.to_s, noveldata:novel20.to_s) %>

<%data.save%>




<br>
<br>
ここまで動的

<br>
<br>


