<div class="center jumbotron">
  <h1>10年前のなろうランキング</h1>
  <h2>
    このサイトは10年前の
    <a href="https://syosetu.com/">小説家になろう</a>
    のランキングを掲載するサイトです。
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  <% index4()[1..1].each do |novel| %>
    <%= get_novel_data(novel) %>
  <% end %>


  <% index4()[0..5].each do |novel| %>
    <% novel_data = get_novel_data(novel) %>
    <span class="ranking_number"><%= novel["rank"] %>位</span>
    <a class="tl" id="best1" target="_blank" href=<%=make_novel_url(novel["ncode"])%>>
      <%=novel_data[1]["title"]%></a>
    <table class="rank_table">
      <tbody>
        <tr>
          <td class="h_info" colspan="2">
            <a target="_blank" href=<%=make_novel_info(novel["ncode"])%>>小説情報</a>
            ／作者：<a href="https://mypage.syosetu.com/444838/"><%=novel_data[1]["writer"]%></a>
          </td>
        </tr>
        <tr>
          <td class="left" rowspan="4">
            <span class="point"><span class="attention"><%= novel["pt"] %></span>pt</span><br>
            <%= judge_sl(sl = novel_data[1]["noveltype"], e = novel_data[1]["end"]) %>
            <%if novel_data[1]["noveltype"] = 1%>
              <br>(全<%=novel_data[1]["general_all_no"]%>部分)
            <%end%>
          </td>
          <td class="ex">
            <%=novel_data[1]["story"]%>
          </td>
        </tr>
        <tr>
          <td>
            <%= judge_genre(novel_data[1]["genre"]) %>
            <%=novel_data[1]["genre"]%>
          </td>
        </tr>
        <tr>
          <td class="keyword">
            <%=novel_data[1]["keyword"]%>
          </tr>
          <tr>
            <td>
              最終更新日：<%=novel_data[1]["general_lastup"]%>
              <span class="marginleft"><%=novel_data[1]["length"]%>文字</span>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
    <% end %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
