
<%year=5%>

<h2><%=Time.now.prev_year(year).strftime(format= '%Y-%m-%d')%>の総合日間ランキング</h2>

<div class="title_h2">
  <div class="h2_rank">日間ランキングBEST300</div>
</div>



<%#= 旧式。一回ずつ小説データをとってくるため、負荷がかかる。 %>


<div class="ranking_inbox">
  <% day_rank_nyago(year)[0..4].each do |novel| %>
    <% novel_data = get_novel_data(novel["ncode"]) %>
    <div class="ranking_list">
      <span class="ranking_number"><%= novel["rank"] %>位</span>
      <%if novel_data[0]["allcount"]==0%>
        この小説は作者によって削除されました。
      <%else%>
        <a class="tl" id="best1" target="_blank" href=<%=make_novel_url(novel["ncode"])%>>
          <%=novel_data[1]["title"]%></a>
        <table class="table">
          <tbody>
            <tr>
              <td class="h_info" colspan="2">
                <a target="_blank" href=<%=make_novel_info(novel["ncode"])%>>小説情報</a>
                ／作者：<a href="https://mypage.syosetu.com/444838/"><%=novel_data[1]["writer"]%></a>
              </td>
            </tr>
            <tr>
              <td class="left" rowspan="4" width=95px>
                <span class="point"><span class="attention"><%= novel["pt"] %></span>pt</span><br>
                <%= judge_sl(sl = novel_data[1]["noveltype"], e = novel_data[1]["end"]) %>
                <%if novel_data[1]["noveltype"] = 1%>
                  <br>
                  (全<%=novel_data[1]["general_all_no"]%>部分)
                <%end%>
              </td>
              <td class="ex">
                <%=novel_data[1]["story"]%>
              </td>
            </tr>
            <tr>
              <td>
                <%= judge_genre(novel_data[1]["genre"]) %>
              </td>
            </tr>
            <tr>
              <td class="keyword">
                <%=novel_data[1]["keyword"]%>
              </td>
            </tr>
            <tr>
              <td>
                最終更新日：<%=novel_data[1]["general_lastup"]%>
                <span class="marginleft"><%=novel_data[1]["length"]%>文字</span>
              </td>
            </tr>
          </tbody>
        </table>
      <%end%>
    </div>
  <% end %>
</div>









